*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: cadetblue;
	color: black;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 1100px;
	max-height: 100vh;
	margin: 0 auto;
	font-family: Impact;
}

.h1 {
	color: rgb(3, 3, 3);
	font-size: 2.25rem;
	padding-top: 1.25rem;
}

.grid-sizer-container {
	width: 15rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	margin-top: 1.5rem;

	& .grid-sizer-label {
		font-size: 1.25rem;
		text-align: center;
		font-weight: 300;
	}
}

.game-container {
	width: 80%;
	margin-top: 2rem;
	display: flex;
	justify-content: space-evenly;
	gap: 2rem;
	margin-bottom: 2rem;

	& .game-grid {
		max-width: 450px;
		border: 1px double rgb(3, 3, 3, 0.15);
		display: grid;
		align-items: center;
		flex-basis: auto;
		flex-grow: 1;
		grid-template-columns: repeat(var(--cssGridSize), 1fr);
		grid-template-rows: repeat(var(--cssGridSize), 1fr);

		& .box {
			border: 1px solid rgb(235, 134, 134, 0.25);
			aspect-ratio: 1/1;
		}
	}

	& .game-settings {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.color-picker {
			appearance: none;
			width: 75px;
			height: 75px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			align-self: center;

			&::-webkit-color-swatch {
				border-radius: 50%;
				border: 7px solid #000000;
			}

			&::-moz-color-swatch {
				border-radius: 50%;
				border: 7px solid #000000;
			}
		}

		.color-setting {
			width: 80px;
			display: flex;
			justify-content: center;
			align-items: center;
			border: none;
			border-radius: 3px;
			background-color: antiquewhite;
			color: black;
			font-size: 1rem;
			padding: 0.5em 1.25em;
			cursor: pointer;
			transition: all 100ms;

			&:hover {
				transform: scale(1.2);
				background-color: rgb(161, 202, 203, 0.85);
				outline: 1px solid rgb(61, 56, 56);
			}

			&.active {
				outline: 1px solid antiquewhite;
				background-color: rgb(61, 56, 56);
				color: antiquewhite;
			}
		}
	}
}

.footer {
	margin-top: auto;
	font-size: 1.25rem;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 1rem;
	padding-top: 1rem;

	& a {
		color: antiquewhite;
	}

	& :visited {
		color: #5e1b1b;
	}
}

@media (max-width: 800px) {
	.game-container {
		flex-direction: column;
		align-items: center;

		& .game-settings {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}

		& .game-grid {
			width: 400px;
			margin-inline: 1rem;
		}
	}
}

@media (max-width: 650px) {
	.game-container {
		& .game-grid {
			width: 350px;
		}
	}
}
